
    <div class="firstone">
        <p class="shining mb-0">Hakan Geyik</p>
        <p class="shining2 mb-0" >Hevesli bir developer</p>
        <table>
            <tr>
                <td>
                    <a href="https://github.com/jedis19" target="_blank"><img class="first" src="assets/github.png"></a>
                </td>
                <td>
                    <a href="https://www.instagram.com/jedi_s19/" target="_blank"><img class="first"
                            src="assets/insta.png"></a>
                </td>
                <td>
                    <a href="https://www.linkedin.com/in/hakan-geyik-073828192/" target="_blank"><img class="first"
                            src="assets/linkin.png"></a>
                </td>
            </tr>
        </table>
    </div>
